
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/GPOTools/.vs/*
library/GPOTools/GPOTools/bin/*
library/GPOTools/GPOTools/obj/*

# ignore PowerShell Studio MetaData
GPOTools/GPOTools.psproj
GPOTools/GPOTools.psproj.bak
GPOTools/GPOTools.psprojs
GPOTools/GPOTools.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*